{%- comment -%}
  Add discount badge placeholders to each line item in the cart drawer and
  a breakdown container in the drawer footer.
{%- endcomment -%}

<div data-discount-badges></div>

<div id="CartDrawer-PricingBreakdown"></div>

<script src="{{ 'cart.js' | asset_url }}" defer></script>
